.MainScreen {
  height: 100%;

  .tap {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #d1cfcf;
    pointer-events: none;
  }

  img {
    width: 70%;
    max-width: 400px;
    border-radius: 25%;
  }

  #myCanvas {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
  }
}
